body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    font-size: 1em;
    margin: 5px 0 0 0;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.social-icons a:hover {
    color: #4da6ff;
    transform: translateY(-3px);
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

#about p {
    line-height: 1.6;
    font-size: 1.1em;
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#skills li {
    background-color: #7b98ff;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    transition: transform 0.2s, box-shadow 0.2s;
}

 #skills li:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

#contact p {
    margin: 10px 0;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
